# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [81]:
# Libraries

import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [82]:
# your code here
path = "D:\IronHack\Study\Bootcamp\labs\Week03\lab-advanced-pandas\your-code\data"
file_name = "Admission_Predict.csv"
df = pd.read_csv(f"{path}\{file_name}")

df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Remove trailing spaces at the end of the column names if there are any.

In [83]:
# your code here

df.columns = df.columns.str.replace(' ', '')

Let's evaluate the dataset by looking at the `head` function.

In [84]:
# your code here

df.head()

,SerialNo.,GREScore,TOEFLScore,UniversityRating,SOP,LOR,CGPA,Research,ChanceofAdmit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [85]:
# your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   SerialNo.         385 non-null    int64
 1   GREScore          385 non-null    int64
 2   TOEFLScore        385 non-null    int64
 3   UniversityRating  385 non-null    int64
 4   SOP               385 non-null    float64
 5   LOR               385 non-null    float64
 6   CGPA              385 non-null    float64
 7   Research          385 non-null    int64
 8   ChanceofAdmit     385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [86]:
# your code here

df.set_index('SerialNo.', drop=True, inplace=True)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [87]:
# your code here

df.set_index(["GREScore","CGPA"], drop=True, inplace=True)

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [88]:
# your code here
df.reset_index(inplace=True)

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [89]:
# your code here

df = df[(df["CGPA"]> 9)&(df["Research"]==1)]

df.head()

,GREScore,CGPA,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
0,337,9.65,118,4,4.5,4.5,1,0.92
4,330,9.34,115,5,4.5,3.0,1,0.90
10,328,9.10,112,4,4.0,4.5,1,0.78
19,328,9.50,116,5,5.0,5.0,1,0.94
20,334,9.70,119,5,5.0,4.5,1,0.95

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [90]:
# your code here

# Assuming df is your DataFrame
df_filtered = df[(df["CGPA"] > 9) & (df["SOP"] < 3.5)]

def mean_chance(row):
    """"For mean calculations"""  
    return row["ChanceofAdmit"].mean()

df_filtered["ChanceofAdmit"] = df_filtered.apply(mean_chance, axis=1)

display(df_filtered )

C:\Users\Yuliya Lavrenyuk\AppData\Local\Temp\ipykernel_15888\2854670459.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered["ChanceofAdmit"] = df_filtered.apply(mean_chance, axis=1)

,GREScore,CGPA,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit
28,338,9.40,118,4,3.0,4.5,1,0.91
140,326,9.11,114,3,3.0,3.0,1,0.83
217,324,9.01,111,4,3.0,3.0,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [91]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    mean = np.mean(col)
    std_dev = np.std(col)
    stand_col = (col - mean)/std_dev 
    return stand_col

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [92]:
df["CGPA_std"] = standardize(df["CGPA"])
df["GRE_std"] = standardize(df["GREScore"])
df["LOR_std"] = standardize(df["LOR"])

display(df)

,GREScore,CGPA,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,CGPA_std,GRE_std,LOR_std
0,337,9.65,118,4,4.5,4.5,1,0.92,1.266124,1.198964,0.470481
4,330,9.34,115,5,4.5,3.0,1,0.90,-0.002837,0.071747,-1.828804
10,328,9.10,112,4,4.0,4.5,1,0.78,-0.985259,-0.250316,0.470481
19,328,9.50,116,5,5.0,5.0,1,0.94,0.652111,-0.250316,1.236909
20,334,9.70,119,5,5.0,4.5,1,0.95,1.470795,0.715871,0.470481
...,...,...,...,...,...,...,...,...,...,...,...
379,329,9.23,111,4,4.5,4.0,1,0.89,-0.453114,-0.089285,-0.295948
380,324,9.04,110,3,3.5,3.5,1,0.82,-1.230864,-0.894440,-1.062376
381,325,9.11,107,3,3.0,3.5,1,0.84,-0.944324,-0.733409,-1.062376
382,330,9.45,116,4,5.0,4.5,1,0.91,0.447439,0.071747,0.470481
384,333,9.66,117,4,5.0,4.0,1,0.95,1.307058,0.554840,-0.295948

We will generate the decision choice at random using the code below. Please run the cell.

In [93]:
# Libraries
from random import choices

In [94]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=df.shape[0])

print(decision_choice)

['LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'LOR_std', 'GRE_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'GRE_std', 'LOR_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'CGPA_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'GRE_std', 'LOR_std', 'GRE_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'CGPA_std', 'LOR_std', 'GRE_std', 'CGPA_std', 'GRE_std', 'CGPA_std', 'CGPA_std']

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. 
Call the column resulting from the lookup function`deciding_column`  and add it to the `admissions` dataframe.

In [95]:
# your code here

# Perform the lookup operation and assign the result to deciding_column

df["deciding_column"] = decision_choice

display(df)

,GREScore,CGPA,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,CGPA_std,GRE_std,LOR_std,deciding_column
0,337,9.65,118,4,4.5,4.5,1,0.92,1.266124,1.198964,0.470481,LOR_std
4,330,9.34,115,5,4.5,3.0,1,0.90,-0.002837,0.071747,-1.828804,LOR_std
10,328,9.10,112,4,4.0,4.5,1,0.78,-0.985259,-0.250316,0.470481,CGPA_std
19,328,9.50,116,5,5.0,5.0,1,0.94,0.652111,-0.250316,1.236909,CGPA_std
20,334,9.70,119,5,5.0,4.5,1,0.95,1.470795,0.715871,0.470481,LOR_std
...,...,...,...,...,...,...,...,...,...,...,...,...
379,329,9.23,111,4,4.5,4.0,1,0.89,-0.453114,-0.089285,-0.295948,GRE_std
380,324,9.04,110,3,3.5,3.5,1,0.82,-1.230864,-0.894440,-1.062376,CGPA_std
381,325,9.11,107,3,3.0,3.5,1,0.84,-0.944324,-0.733409,-1.062376,GRE_std
382,330,9.45,116,4,5.0,4.5,1,0.91,0.447439,0.071747,0.470481,CGPA_std
384,333,9.66,117,4,5.0,4.0,1,0.95,1.307058,0.554840,-0.295948,CGPA_std

In [96]:
df['deciding_column'].unique()

array(['LOR_std', 'CGPA_std', 'GRE_std'], dtype=object)

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [97]:
# your code here


def decision_col(row):
    if row['deciding_column'] == 'CGPA_std' and row['CGPA_std'] > 0.8:
        return 1
    elif row['deciding_column']  == 'LOR_std' and row['LOR_std'] > 0.8:
        return 1
    elif row['deciding_column']  == 'GRE_std' and row['GRE_std'] > 0.8:
        return 1
    else:
        return 0

df["decision"] = df.apply(decision_col, axis=1)

In [98]:
df.columns
display(df)

,GREScore,CGPA,TOEFLScore,UniversityRating,SOP,LOR,Research,ChanceofAdmit,CGPA_std,GRE_std,LOR_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.266124,1.198964,0.470481,LOR_std,0
4,330,9.34,115,5,4.5,3.0,1,0.90,-0.002837,0.071747,-1.828804,LOR_std,0
10,328,9.10,112,4,4.0,4.5,1,0.78,-0.985259,-0.250316,0.470481,CGPA_std,0
19,328,9.50,116,5,5.0,5.0,1,0.94,0.652111,-0.250316,1.236909,CGPA_std,0
20,334,9.70,119,5,5.0,4.5,1,0.95,1.470795,0.715871,0.470481,LOR_std,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,329,9.23,111,4,4.5,4.0,1,0.89,-0.453114,-0.089285,-0.295948,GRE_std,0
380,324,9.04,110,3,3.5,3.5,1,0.82,-1.230864,-0.894440,-1.062376,CGPA_std,0
381,325,9.11,107,3,3.0,3.5,1,0.84,-0.944324,-0.733409,-1.062376,GRE_std,0
382,330,9.45,116,4,5.0,4.5,1,0.91,0.447439,0.071747,0.470481,CGPA_std,0
384,333,9.66,117,4,5.0,4.0,1,0.95,1.307058,0.554840,-0.295948,CGPA_std,1

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [99]:
# your code here

df["decision"].value_counts()

decision
0    77
1    24
Name: count, dtype: int64

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [107]:
# your code here


df.columns = df.columns.str.replace(r'(?<=[a-z])([A-Z])', r'_\1').str.replace(r'\W', '').str.lower()
display(admissions)

,grescore,cgpa,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpa_std,gre_std,lor_std,deciding_column,decision
0,337,9.65,118,4,4.5,4.5,1,0.92,1.266124,1.198964,0.470481,LOR_std,0
4,330,9.34,115,5,4.5,3.0,1,0.90,-0.002837,0.071747,-1.828804,LOR_std,0
10,328,9.10,112,4,4.0,4.5,1,0.78,-0.985259,-0.250316,0.470481,CGPA_std,0
19,328,9.50,116,5,5.0,5.0,1,0.94,0.652111,-0.250316,1.236909,CGPA_std,0
20,334,9.70,119,5,5.0,4.5,1,0.95,1.470795,0.715871,0.470481,LOR_std,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,329,9.23,111,4,4.5,4.0,1,0.89,-0.453114,-0.089285,-0.295948,GRE_std,0
380,324,9.04,110,3,3.5,3.5,1,0.82,-1.230864,-0.894440,-1.062376,CGPA_std,0
381,325,9.11,107,3,3.0,3.5,1,0.84,-0.944324,-0.733409,-1.062376,GRE_std,0
382,330,9.45,116,4,5.0,4.5,1,0.91,0.447439,0.071747,0.470481,CGPA_std,0
384,333,9.66,117,4,5.0,4.0,1,0.95,1.307058,0.554840,-0.295948,CGPA_std,1

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [111]:
# your code here

def new_score(row):
    if row["universityrating"] >= 4:
        return row["grescore"] + 10
    else:
        return row["grescore"]

admissions["adjusted_gre"] = df.apply(new_score, axis = 1)

labels = [1,2,3,4]

admissions["adjusted_gre"] = pd.cut(admissions["adjusted_gre"],4, labels= labels)

display(admissions)

,grescore,cgpa,toeflscore,universityrating,sop,lor,research,chanceofadmit,cgpa_std,gre_std,lor_std,deciding_column,decision,adjusted_gre
0,337,9.65,118,4,4.5,4.5,1,0.92,1.266124,1.198964,0.470481,LOR_std,0,4
4,330,9.34,115,5,4.5,3.0,1,0.90,-0.002837,0.071747,-1.828804,LOR_std,0,3
10,328,9.10,112,4,4.0,4.5,1,0.78,-0.985259,-0.250316,0.470481,CGPA_std,0,3
19,328,9.50,116,5,5.0,5.0,1,0.94,0.652111,-0.250316,1.236909,CGPA_std,0,3
20,334,9.70,119,5,5.0,4.5,1,0.95,1.470795,0.715871,0.470481,LOR_std,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,329,9.23,111,4,4.5,4.0,1,0.89,-0.453114,-0.089285,-0.295948,GRE_std,0,3
380,324,9.04,110,3,3.5,3.5,1,0.82,-1.230864,-0.894440,-1.062376,CGPA_std,0,1
381,325,9.11,107,3,3.0,3.5,1,0.84,-0.944324,-0.733409,-1.062376,GRE_std,0,1
382,330,9.45,116,4,5.0,4.5,1,0.91,0.447439,0.071747,0.470481,CGPA_std,0,3
384,333,9.66,117,4,5.0,4.0,1,0.95,1.307058,0.554840,-0.295948,CGPA_std,1,4